header{ position:absolute; top: 0; left: 0; right: 0; background: #0062CC;}
.header_content{ height: 4.4rem; display: flex;justify-content: space-between;}
.header_content .txt{ height: 4.4rem; display: flex;justify-content: center; align-items: center;font-size: 1.7rem; color: #fff; font-weight: bold;}
.header_content .left {display: flex; align-items: center;  margin-left: 1rem; width: 6rem;height: 4.4rem;}
.header_content .right { display: flex; align-items: center; margin-right: 1rem; width: 6rem;height: 4.4rem;}
.header_content .right .icon{ margin-left: 1rem; width: 2rem; height: 2rem;}
.header_content .left .icon{ margin-right: 1rem; width: 2rem; height: 2rem;}
.header_content .icon img{ width: 2rem; height: 2rem; display: block;}

.main{ position: absolute; left: 0; top:0; right: 0; bottom:0;}

@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3){

}
@media only screen and (device-width:414px) and (device-height:896px) and (-webkit-device-pixel-ratio:3){
	
}
@media only screen and (device-width:414px) and (device-height:896px) and (-webkit-device-pixel-ratio:2){
	
}

@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:2){

}