* {margin: 0;padding: 0; box-sizing: border-box;}
html,body {height: 100%;}
.ye_main {position: fixed;top:0;bottom:0;left: 0;right: 0;background: red;overflow: auto;}
.ye_main_in{margin-top: 0px; position: relative;}
.top_tips{background: #f2f2f2; font-size: 1.2rem; color: #989898;justify-content: center; align-items: center; display: flex; width: 100%; height: 0; overflow: hidden;}
.bottom_tips{ background: #f2f2f2; font-size: 1.2rem; color: #989898; justify-content: center; align-items: center; display: flex; width: 100%; height: 0; overflow: hidden;}
.clear{ clear: both;}


header{  padding-top: 2rem; background: #f8f8f8; height: 6.4rem;position: absolute; top:0; left: 0; right: 0;}
header img{ width: 1.6rem; height: 1.6rem; margin-left: 0.5rem; margin-right: 0.5rem;}
.header_chat{ z-index: 1; position: relative; font-size: 1.6rem; color: #505050; height: 4.4rem; display: flex; align-items: center;}
.header_chat:before{content:'';position:absolute;width:200%;height:200%;border-bottom:1px solid #dcdcdc ;transform-origin:0 0;transform:scale(.5,.5);box-sizing:border-box;z-index:-1;left:0;top:0;border-radius:.6rem}





.ye_main_chat{ background: #f8f8f8;  top: 6.4rem; bottom:4.6rem ;}
.chat_left{ margin-top: 1rem; margin-bottom: 1rem; margin-left: 1rem; clear: both;}
.chat_left .photo{ float: left;}
.chat_left .photo img{ display: block; width: 4rem; height: 4rem; border-radius:0.6rem ;}
.chat_left .txt {position: relative; margin-left: 1rem; border-radius:0.6rem ;max-width: 26rem; word-break: break-all; text-align:justify; min-height: 4rem; line-height: 2.4rem; background: #fff; padding:0.8rem 1rem; float: left; font-size: 1.5rem; }
.chat_left .txt:before{position: absolute;content: '';width: 0;height: 0;border-top: 5px solid transparent;border-right: 8px solid #fff;border-bottom: 5px solid transparent; left: -7px; top:1rem;} 
.chat_left .pic{max-width:26rem; margin-left: 1rem; float: left;}
.chat_left .pic img{ border-radius:0.6rem ; display: block;max-width:26rem; max-height:40rem;}


.chat_right{ margin-top: 1rem; margin-bottom: 1rem;margin-right: 1rem;  clear: both;}
.chat_right .photo{ float: right;}
.chat_right .photo img{ display: block; width: 4rem; height: 4rem; border-radius:0.6rem ;}
.chat_right .txt {position: relative; margin-right: 1rem; border-radius:0.6rem ;max-width: 26rem; word-break: break-all; text-align:justify; min-height: 4rem; line-height: 2.4rem; background: #AAD5F4; padding:0.8rem 1rem; float: right; font-size: 1.5rem; }
.chat_right .txt:before{position: absolute;content: '';width: 0;height: 0;border-top: 5px solid transparent;border-left: 8px solid #AAD5F4;border-bottom: 5px solid transparent; right: -7px; top:1rem;} 
.chat_right .pic{max-width:26rem; margin-right: 1rem; float: right; position: relative; }
.chat_right .pic img{ border-radius:0.6rem ; display: block;max-width:26rem; max-height:40rem;}
.chat_right .pic .load{ display: flex; justify-content: center; align-items: center;  border-radius:0.6rem ; position: absolute; left:0; top: 0; right:0; bottom: 0; background: rgba(0,0,0,0.3); }
.chat_right .pic .load img{ width: 70%;}


.bottom_chat{padding-top: 0.8rem; z-index: 1; position: relative; min-height:4.6rem; position:absolute; bottom: 0; left: 0; right: 0; background: #f8f8f8;}
.bottom_chat:before{content:'';position:absolute;width:200%;height:200%;border-top:1px solid #dcdcdc ;transform-origin:0 0;transform:scale(.5,.5);box-sizing:border-box;z-index:-1;left:0;top:0;border-radius:.6rem}

.bottom_chat .icon{ width: 3rem; height: 3rem; float: left; margin-left: 1rem;}
.bottom_chat .text{overflow: auto;  max-height:9rem ; line-height: 2rem; text-align: justify; margin-bottom: 0.5rem; font-size: 1.4rem; color: #505050; padding:0.5rem 1rem ; width: 27rem; min-height: 3rem; background: #fff; float: left;margin-left: 1rem; border-radius:0.6rem}
.bottom_chat .icon img{ border-radius:0.6rem ; display: block; width: 3rem; height: 3rem; ;}


@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3){

}
@media only screen and (device-width:414px) and (device-height:896px) and (-webkit-device-pixel-ratio:3){
	
}
@media only screen and (device-width:414px) and (device-height:896px) and (-webkit-device-pixel-ratio:2){
	
}

@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:2){

}